/* -- ------------------- START RESET --------------------- */
*,
*::before,
*::after
{
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
    /*font: inherit;*/
}

/* min body height */
body
{
    min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video
{
    display: block;
    max-width: 100%;
}

a
{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

/* -- ------------------- END RESET --------------------- */



.authorInformation
{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 0.5rem;
}

body
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.bookListContainer
{
    display: grid;
    /*Magic formula from mr Powell*/
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 80%), 1fr));
    justify-content: space-between;
    gap: 0.5rem;
    width: 80%;
}

h2,
h3
{
    font-family: "Montserrat", sans-serif;
}

.bookCard
{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
    border: 2px solid hsl(0, 0%, 70%);
    width: 30%;
    min-width: 15rem;
    padding-inline: 1rem;

    &:hover
    {
        background-color: hsl(0, 0%, 80%);
        border: 2px solid hsl(0, 0%, 60%);
        cursor: pointer;
    }
}

.bookCover,
.authorPicture,
.bookCard
{
    border-radius: 1rem;
    corner-shape: squircle;
    max-width: 15rem;
}

.bookInformation
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;

    >*
    {
        padding: 0.25rem
    }
}

.bookInformationDetails
{
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.bookISBN,
.authorBorn
{
    font-size: 0.8rem;
}

img
{
    width: 100%;
}

.active
{
    border: 2px solid hsl(120, 100%, 70%);

    &:hover
    {
        border: 2px solid hsl(120, 100%, 40%);
        background-color: hsl(120, 100%, 90%);

    }
}