/* -- ------------------- START RESET --------------------- */
*,
*::before,
*::after
{
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
    /*font: inherit;*/
}

/* min body height */
body
{
    min-height: 100vh;
    background: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 15%);
}

/* responsive images/videos */
img,
picture,
svg,
video
{
    display: block;
    max-width: 100%;
}

a
{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
}

/* -- ------------------- END RESET --------------------- */

/* -- ------------------- START VARIABLES --------------------- */
:root
{
    --clr-blue-lighter: rgb(213, 225, 236);
    --clr-blue-light: rgb(167, 187, 205);
    --clr-blue-med: rgb(126, 147, 165);
    --clr-blue-dark: rgb(63, 76, 115);

    --clr-beige-light: hsl(35, 28%, 65%);
    --clr-beige-med: hsl(28, 21%, 51%);
    --clr-beige-dark: hsl(29, 26%, 37%);

    --clr-dark-light: hsl(25, 14%, 34%);
    --clr-dark-med: hsl(13, 22%, 16%);
    --clr-dark-dark: hsl(20, 38%, 6%);

    --clr-brown-light: hsl(40, 91%, 31%);
    --clr-brown-med: hsl(31, 97%, 24%);
    --clr-brown-dark: hsl(30, 96%, 19%);
    --clr-brown-darker: hsl(31, 95%, 15%);

    --clr-red-light: hsl(15, 71%, 30%);
    --clr-red-med: hsl(10, 74%, 28%);
    --clr-red-dark: hsl(7, 85%, 18%);
    --clr-red-darker: hsl(0, 93%, 11%);

    --clr-gray-light: hsl(18, 17%, 85%);
    --clr-gray-med: hsl(20, 4%, 42%);
    --clr-gray-dark: hsl(17, 5%, 26%);
    --clr-gray-darker: hsl(24, 14%, 15%);

}

/* -- -------------------  END VARIABLES  --------------------- */

.adminActions
{
    display: flex;
    justify-content: space-around;
}

.authorInformation
{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.btn
{
    font-size: large;
    width: 75%;
    padding: 0.5rem;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    border: 1px solid black;
}

.bookCard
{
    display: grid;
    align-items: center;
    background-color: hsl(0, 0%, 83%);
    border: 2px solid hsl(0, 0%, 50%);
    width: 30%;
    min-width: 15rem;
    padding-inline: 1rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    &:hover
    {
        background-color: hsl(0, 0%, 70%);
        border: 2px solid hsl(0, 0%, 20%);
        transition: ease-in-out 200ms;
        cursor: pointer;
    }

    flex: 0 0 100%;
}

.bookCard::scroll-marker
{
    content: '';
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 15%);
    border-radius: 50%;
    overflow: hidden;
    text-indent: 16px;

    &:target-current
    {
        border: 2px solid hsl(120, 100%, 30%);
        background-color: hsl(120, 100%, 95%);
    }
}


.bookListContainer
{
    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 80%), 1fr));
    justify-content: space-between;
    gap: 0.5rem;
    width: 80%;*/
    width: 52vw;
    height: 450px;
    padding: 20px;
    display: flex;
    gap: 4vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    anchor-name: --my-carousel;
    scroll-marker-group: before;
}

.bookListContainer::scroll-marker-group
{
    position: absolute;
    position-anchor: --my-carousel;
    top: anchor(bottom);
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.bookListContainer::scroll-button(*)
{
    position: absolute;
    position-anchor: --my-carousel;
    border: 0;
    font-size: 2rem;
    background: none;
    color: hsl(0, 0%, 15%);
    opacity: 0.7;
    cursor: pointer;
}

.bookListContainer::scroll-button(*):hover,
.bookListContainer::scroll-button(*):focus
{
    opacity: 1;
}

.bookListContainer::scroll-button(*):active
{
    translate: 1px 1px;
}

.bookListContainer::scroll-button(*):disabled
{
    opacity: 0.2;
    cursor: unset;
}

.bookListContainer::scroll-button(left)
{
    content: "◄" / "Previous";
    right: anchor(left);
    bottom: calc(anchor(bottom) - 10px);
}

.bookListContainer::scroll-button(right)
{
    content: "►" / "Next";
    right: calc(anchor(right) - 50px);
    bottom: calc(anchor(bottom) - 10px);
}

.frmAddBook
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
    background: var(--clr-blue-lighter);
    border: 1px solid black;
}

.frmAddInformation
{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    >input
    {
        border: 1px solid var(--clr-gray-med);
        border-radius: 5px;
        height: 1.24rem;
    }
}

.hidden
{
    display: none;
}

label:has(span)
{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

main
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
}

.bookAuthor
{
    align-self: end;
    margin-bottom: 0.5rem;

}

h2,
h3
{
    font-family: "Montserrat", sans-serif;
}

.bookCover,
.authorPicture,
.bookCard
{
    border-radius: 1rem;
    corner-shape: squircle;
    max-width: 15rem;
}

.bookInformation
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;

    >*
    {
        padding: 0.25rem
    }
}

.bookInformationDetails
{
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.bookISBN,
.authorBorn
{
    font-size: 0.8rem;
}

img
{
    width: 100%;
}

.editAction
{
    border: 2px solid #0000;
    filter: grayscale(1);
    padding: 1rem;
    transition: 0.2s;

    &:hover
    {
        filter: grayscale(0);
        border: 2px solid hsl(55, 100%, 30%);
        background-color: hsl(55, 100%, 95%);
        transform: scale(1.2);
        cursor: not-allowed;
    }
}

.removeAction
{
    border: 2px solid #0000;
    filter: grayscale(1);

    padding: 1rem;
    transition: 0.2s;

    &:hover
    {
        filter: grayscale(0);
        border: 2px solid hsl(0, 100%, 30%);
        background-color: hsl(0, 100%, 95%);
        transform: scale(1.2);
    }
}

header
{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;

    >button
    {
        width: 20ex;
        height: 4ex;

    }

}

.active
{
    border: 2px solid hsl(120, 100%, 50%);

    &:hover
    {
        border: 2px solid hsl(120, 100%, 30%);
        background-color: hsl(120, 100%, 95%);

    }

}

.bookCard::scroll-marker:target-current
{
    background-color: hsl(0, 0%, 25%);
}

button
{
    cursor: pointer;
    border-radius: 5px;

    &:hover
    {
        transform: scale(1.05, 1.05);
        box-shadow: 1px 2px 2px lightgrey;
    }
}

.translationRadio
{
    display: flex;
    justify-content: space-between;
}

.translationRadioChoices
{
    display: flex;
    gap: 0.5rem;
}

.modal
{
    margin: 0 auto;
    align-self: center;
}

sup
{
    color: red;
    vertical-align: top;
}