/*Resets and standards*/
*,
*::before,
*::after
{
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
*
{
  margin: 0;
  padding: 0;
  /*font: inherit;*/
}

/* dark mode user-agent-styles */

html
{
  color-scheme: dark light;
}

/* min body height */
body
{
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video
{
  display: block;
  max-width: 100%;
}

a
{
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

form,
input,
button,
select,
textarea,
label
{
  font: inherit;
  color: inherit;
}

/* Standardvärden i variabler */
:root
{
  --ff-std: "Vend Sans", Arial, sans-serif;
  --padding-std: 1rem;
  --background-color-body: hsl(0, 0%, 96%);
  --border-color-std: black;
  --border-radius-std: 5px;

  /* Variabler baserade på standardvärden */
  --background-color-ingress: hsl(from var(--background-color-body) h s calc(l - 10));

  --shadow-color: hsl(from var(--background-color-ingress) h s calc(l - 20));
  --shadow-std: 1px 5px 5px -2px var(--shadow-color);

  --padding-half: calc(var(--padding-std) * 0.5);

  --border-std: 4px solid var(--border-color-std);
  --border-thin-dark: 1px solid var(--border-color-dark);
  --border-color-dark: color-mix(in hsl, var(--border-color-std) 50%, black 50%);
}

body
{
  background-color: var(--background-color-body);
  font-family: var(--ff-std);
  line-height: 1.5rem;
  width: 100%;
  height: 1vh;
}

button
{
  cursor: pointer;
}

main
{
  display: block;
  width: 90%;
  margin-inline: auto;
}


dialog
{
  max-width: 90%;
  min-width: 300px;
  margin: 10rem auto;
  border-radius: var(--border-radius-std);
  padding: 1rem;
  background-color: var(--background-color-body);
}



fieldset
{
  border: 0;
}


input,
select
{
  background: var(--background-color-body);
  color: hsl(0, 0%, 0%);
  border-color: hsl(0, 0%, 83%);
  border-style: solid;
  border-radius: var(--border-radius-std);
  padding: 1ex 2ex;
  cursor: pointer;

  /*Backgrundfärgen vid val på checkboxes, ranges, etc*/
  accent-color: hsl(0, 0%, 50%);

  &:not([type="checkbox"], select)
  {
    width: 90%;

    &:valid+span::after
    {
      color: hsl(120, 100%, 25%);
      content: " ✓";
    }

    &:invalid+span::after
    {
      color: hsl(0, 68%, 42%);
      content: " ✖";
    }

  }

}

label
{
  text-transform: capitalize;
  font-size: 1rem;
}

option
{
  text-align: left;
}

.dialogscreens
{
  border: var(--border-std);
  margin: 10rem auto;
  border-radius: var(--border-radius-std);
  padding: 1rem;
  background-color: var(--background-color-body);
}

.dswide
{
  max-width: 800px;
  min-width: 350px;
}

.dsthin
{
  max-width: 400px;
  min-width: 350px;
}

.dialog_btn_close
{
  padding: 0.25rem;
  border: 0;
  background-color: var(--background-color-body);
  color: hsl(0, 68%, 42%);
  font-weight: bolder;
  font-size: larger;
}

.dialog_header
{
  display: flex;
  justify-content: space-between;
}

.dialog_txtbox
{
  border: var(--border-thin-dark);
}

.login_box
{
  display: grid;
  border: var(--border-thin-dark);
}

.login_div
{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1rem;

  a
  {
    align-self: flex-end;
  }

}

.login_newuser
{
  font-weight: lighter;
  font-size: smaller;
  padding-left: 9rem;
}

.login_btn,
.dialog_btn
{
  padding: var(--padding-half);
  background-color: var(--background-color-body);
  border-radius: var(--border-radius-std);
  transition: 0.5s transform;
  min-width: 8ch;
  text-align: center;
  margin-top: 1rem;

  &:hover,
  &:focus
  {
    transform: scale(1.1);
    box-shadow: var(--shadow-std);
  }
}

.newaccount_form
{
  display: grid;
  grid-template-columns: 1fr 1fr;

  >div
  {
    padding-block: 0.5rem;
  }

  @media (width < 625px)
  {
    grid-template-columns: 1fr;
  }
}

.newaccount_education
{
  grid-column: 1/-1;
  display: grid;
}

.newaccount_cert
{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr auto;

  @media (width <800px)
  {
    div
    {
      flex-wrap: wrap;
    }

  }
}

.newaccount_level
{
  display: grid;
  gap: 0 1ch;
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
  align-items: self-start;

  span
  {
    display: flex;
    gap: 0.5ch;
    text-wrap: nowrap;

  }
}

.newaccount_depth
{
  display: grid;
  gap: 0 1ch;
  align-self: flex-start;
}

.newaccount_privacy
{
  grid-column: 1/-1;
  display: flex;
  gap: 1ch;
  font-size: smaller;
  align-items: center;
}

.newaccount_footer
{
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}