.grid_columns
{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
}

.grid_cell
{
    transition: 0.2s;
    background-color: hsl(0, 0%, 100%);
    max-width: 315px;
}

.grid_cell *:not(img, a)
{
    padding: var(--padding-half);
}

.card_border
{
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: var(--border-radius-std);
}

.card_title
{
    font-size: larger;
}

.card_text
{
    font-size: small;
    line-height: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.card_image
{
    width: 100%;
}