main
{
    width: 800px;
    margin: 0px auto;
    background-color: lightgoldenrodyellow;

}

dialog
{
    width: 450px;
    margin: 10rem auto;
}

form
{
    width: 400px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px lightgray;
    display: grid;
    gap: 1rem;

    textarea
    {
        resize: none;
    }
}