/* Standardvärden i variabler */
:root
{
  --ff-std: "Vend Sans", Arial, sans-serif;
  --ff-footer: Helvetica, Arial, sans-serif;
  --padding-std: 1rem;
  --margin-std: 1rem;
  --media-width: 400px;

  --background-color-body: whitesmoke;
  --background-color-ingress: hsl(from var(--background-color-body) h s calc(l - 10));
  --border-color-std: hsl(180, 20%, 45%);
  --border-std: 4px solid var(--border-color-std);
  --border-dark: 2px solid var(--border-color-dark);
  --shadow-color: hsl(from var(--background-color-ingress) h s calc(l - 20));
  --shadow-std: 1px 5px 5px -2px var(--shadow-color);
  --shadow-header: 2px 2px 2px 2px var(--shadow-color);
  /* Om jag vill behöver specifika variabler per sida
  .indexpage {
  }
  .summerpage {
  }
  .winterpage {
  }
   */

  --border-radius-std: 10px;

  --link-color-std: hsl(0, 0%, 13%);
  --link-color-hover: hsl(0, 68%, 42%);

  /* Variabler baserade på standardvärden */
  --padding-half: calc(var(--padding-std) * 0.5);
  --padding-double: calc(var(--padding-std) * 2);
  --padding-tripple: calc(var(--padding-std) * 2);
  --margin-double: calc(var(--margin-std) * 2);

  --border-std: 4px solid var(--border-color-std);
  --border-thin-dark: 1px solid var(--border-color-dark);

  --border-color-dark: color-mix(in hsl, var(--border-color-std) 50%, black 50%);
}

/*Sätter hela headern sticky för att kunna ligga kvar när man scrollar*/
header
{
  position: sticky;
  top: 0;
}

body
{
  background-color: var(--background-color-body);
  font-family: var(--ff-std);
  line-height: 1.5rem;
}

button
{
  cursor: pointer;

}

main
{
  width: 90%;
  margin-inline: 5%;
}

footer
{
  margin-block: var(--margin-std);
}

figcaption,
footer p
{
  font-family: var(--ff-footer);
  font-size: small;
  padding-left: var(--padding-std);
}

:where(h1, h2, h3)
{
  padding-block: var(--padding-half);
  text-wrap: balance;
  overflow-wrap: break-word;
  text-transform: uppercase;
}

/* Testar specificiteten för h3orna med annan tt */
h3
{
  text-transform: capitalize;
}

.flexy
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-ingress);
  padding: calc(var(--padding-half)/2);
}

/*Göra länkar enhetliga i både header och kort. I korten bara stryka under card_title*/
.flexy a:hover,
.flexy :focus,
.grid_cell:hover .card_title,
.grid_cell:has(a:focus) .card_title
{
  text-decoration: underline;
  text-decoration-color: hsl(0, 68%, 42%);
  text-decoration-thickness: 4px;
}

.btn_log_in
{
  padding: var(--padding-half);
  background-color: var(--background-color-body);
  border-radius: var(--border-radius-std);
  transition: 0.5s transform;
  min-width: 8ch;
  text-align: center;
}

/*Knappar och kort får samma skugga och inzomningseffekt*/
.btn_log_in:hover,
.btn_log_in:focus,
.grid_cell:hover,
.grid_cell:has(a:focus)
{
  transform: scale(1.1);
  box-shadow: var(--shadow-std);
}

/*Tanken var en generell klass för flexibilitet, gick väl sådär*/
.flex_center
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Innan jag förstod/hittade z-index så jag la bakgrundsbilden här. Color sattes för att undvika wave varningar*/
.hero_banner_background
{
  background-image: url("../img/Image2.png");
  background-color: hsl(240, 100%, 10%);
  background-size: cover;
  aspect-ratio: calc(3840/2160);
  margin: 0 1%;
}

.hero_banner_h1
{
  color: hsl(0, 0%, 100%);
  text-transform: capitalize;
  font-size: 7rem;
  line-height: 6rem;
  width: 7ch;
}

.hero_banner_p
{
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 1.5rem;
}

/*Media justeringar av hero bannerns fontstorlek vid förändring av skärmstorlek*/
@media (max-width: 768px)
{
  .hero_banner_h1
  {
    font-size: 4rem;
    line-height: 3.5rem;
  }

  .hero_banner_p
  {
    font-size: 1rem;
    margin: 0;
  }
}

@media (max-width: 640px)
{
  .hero_banner_h1
  {
    font-size: 2.5rem;
    line-height: 2.25rem;
  }

  .hero_banner_p
  {
    font-size: 1rem;
    margin: 0;
  }

}

.img_slides
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: min(var(--media-width), 100%);

}

.index_h2
{
  color: hsl(0, 70%, 40%);
  text-align: center;
}

.ingress
{
  background-color: var(--background-color-ingress);
  padding: var(--padding-std);
  margin-block: var(--margin-std);
}

/* Övningsgrid för first/nth/last-child */
#lists
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  :first-child
  {
    grid-area: 1 / span 2;
  }

  :nth-child(2)
  {
    grid-area: 2 / 1;
  }

  :nth-child(3)
  {
    grid-area: 2 / 2;
  }

  :last-child
  {
    grid-area: 3 / span 2;
  }

  :last-child>p
  {
    margin: 1rem 0rem;
  }
}

/*Nestad ändring av innehållet*/
.listings :is(li)
{
  font-style: italic;
  margin-left: var(--margin-double);

  &:nth-child(even)
  {
    font-style: normal;
  }
}

dialog
{
  width: 350px;
  margin: 10rem auto;
  border-radius: var(--border-radius-std);
}

.login_box
{
  display: grid;
  grid-template-rows: auto auto 1fr;

  border: var(--border-thin-dark);
}

.login_form
{
  display: grid;
  gap: 0.5rem;
  padding: 1rem;

  background-color: whitesmoke;
}

.login_form_header
{
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;

}

.login_txtbox
{
  border: var(--border-thin-dark);
}

.login_btn_close
{
  padding: 0.25rem;
  border: 0;
  background-color: whitesmoke;
  color: firebrick;
  font-weight: bolder;
  font-size: larger;
}

.login_newuser
{
  font-weight: lighter;
  font-size: smaller;
  padding-left: 9rem;
}

.navigation_flex
{
  flex-basis: 40%;
}

.navigation_flex_ul
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Utility klass för skuggning*/
.shadow
{
  box-shadow: var(--shadow-header);
}

/*rund av hörnen uppe/nere med små utilityklasser*/
.rounded_corners_top
{
  border-top-right-radius: var(--border-radius-std);
  border-top-left-radius: var(--border-radius-std);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.rounded_corners_bottom
{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: var(--border-radius-std);
  border-bottom-left-radius: var(--border-radius-std);
}

/*Inkopierad ifrån nätet: https://www.geeksforgeeks.org/css/css-font-border/ */
.text-border
{
  text-shadow: -1px -1px 0 hsl(0, 0%, 0%), 1px -1px 0 hsl(0, 0%, 0%), -1px 1px 0 #000, 1px 1px 0 #000, -3px 0px 0 #000,
    3px 0px 0 #000, 0px -2px 0 hsl(0, 0%, 0%), 0px 2px 0 hsl(0, 0%, 0%);
}

.font-dynapuff
{
  font-family: "DynaPuff", system-ui;
}

.font-indie-flower
{
  font-family: "Indie Flower", cursive;
}

input:invalid+span::after
{
  content: " ✖";
}

input:valid+span::after
{
  content: " ✓";
}

input
{
  width: 90%;
}