/** reset **/

* {
    margin: 0;
    padding: 0;
}

[role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

h1,
h2 {
    text-wrap: balance;
    font-family: serif;
}

p {
    text-wrap: pretty;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/** composition **/
.content-grid,
.fullwidth {
    --_main-margin-width: 1rem;
    --_content-max-width: 1200px;

    display: grid;
    /* Creates a responsive 3-column layout:
       1. Left margin (flexible)
       2. Content area (centered, max 1200px)
       3. Right margin (flexible) 
       named naming lines allows children to positions themselves e.g. 'grid-column: content' */
    grid-template-columns: [fullwidth-start] minmax(var(--_main-margin-width), 1fr) [content-start] min(100% - var(--_main-margin-width) * 2, var(--_content-max-width)) [content-end] minmax(var(--_main-margin-width), 1fr) [fullwidth-end];
}

.content-grid>*,
.fullwidth>* {
    grid-column: content;
}

.content-grid>.fullwidth {
    grid-column: fullwidth;
}

/* Adds vertical spacing between direct siblings (flow content) */
.flow>*+* {
    margin-block-start: 2em;
}

/** blocks **/

.banner {
    display: grid;
    gap: 1em;

    justify-items: center;

    text-align: center;
    padding: 1rem;
    padding-block-end: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    >img {
        order: -1;
        width: 100%;
        max-height: 35ch;
    }

}

.cards {
    --_card-min-width: 30ch;
    display: grid;
    gap: 1em;

    /* Responsive grid that fits as many columns as possible before wrapping.
       Each column is at least 30ch wide, but can grow to fill 1fr. */
    grid-template-columns: repeat(auto-fit, minmax(min(var(--_card-min-width), 100%), 1fr));
    /* grid-auto-rows: auto auto 1fr; */
}

.card {
    display: grid;
    gap: 1rem;

    /* grid-row: span 3; */
    /* grid-template-rows: [image-start] auto [image-end head-start] auto [head-end text-start] 1fr [text-end]; */

    /* Define named areas for the card internal layout */
    grid-template-areas:
        "image"
        "head"
        "text";

    /* Set up row sizing:
       1. Image takes needed space
       2. Head takes needed space
       3. Text takes remaining space (1fr) */
    grid-template-rows: auto auto 1fr;
    /* grid-template-rows: subgrid; */
    padding: 1rem;
    padding-block-end: 2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    >h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    >img {
        width: 100%;
        aspect-ratio: 0.9;

        /* Assigns image to the 'image' grid area defined in parent */
        grid-area: image;
        /* grid area = row / column */
    }
}


.page-header {
    --_border-radius: 0.75rem;

    background-color: cornflowerblue;
    padding-block-end: 1px;

    >nav>ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.1rem;

        text-transform: uppercase;

        a {
            display: block;
            padding-inline: 1.75rem;
            padding-block: 0.9rem;
            background-color: white;
            color: cornflowerblue;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline currentColor 0.125em;
                /* outline: 5px solid currentColor;
                outline-offset: -5px; */

                text-underline-offset: 0.125em;
            }

        }
    }
}

.page-footer {
    color: white;
    margin-block-start: 2em;
    padding-block: 2em;
    background-color: cornflowerblue;

    >p {
        max-inline-size: 50ch;
    }
}

.hero {
    display: grid;
    row-gap: 4em;

    color: white;
    padding-block: 2em;
    background-color: cornflowerblue;

    >h1 {
        line-height: 0.6;
        font-size: 6em;
    }

    >p {
        max-width: 90ch;
        margin-inline-start: auto;
        padding-inline-start: 2em;
        border-inline-start: 3px solid white;
        font-size: 1.125em;
    }


}

/** utility **/


/** Exceptions **/